/**TAG SELECTORS**/
body{
    color: #000000;
    text-align: center;
    font-family: 'EB Garamond', serif;
}

h1{
    color: #ae223d;
    font-family: 'Press Start 2P', cursive;
    font-size: 5.625em;
}

h2{
    color: #ae223d;
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 2.5em;
}

h3{
    color: #ae223d;
    font-family: 'Zhi Mang Xing', cursive;
}

/**TAG CRAFTED**/
.top{
    background-color: #e8edee;
    position: relative;
    text-align: center;
}

.titre{
    background-color: #e8edee;
    position: relative;
    text-align: center;
    margin: 50px auto 50px auto;
    padding-block-start: 5px;
    padding-block-end: 5px;
}

.formation{
    text-align: center;
    position: relative;
}

.compétences{
    text-align: center;
    position: relative;
}

.expérience{
    text-align: center;
    position: relative;
}

.langue{
    text-align: center;
    position: relative;
}

.intérêt{
    text-align: center;
    position: relative;
}

.bottom{
    background-color: #e8edee;
    text-align: center;
    margin-top: 75px;
    padding-block-start: 2px;
    padding-block-end: 2px;
}

.photo{
    padding-left: 300px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 40%;
}